footer {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    grid-column: span 2;
    border-top: 2px solid black;
    text-align:center;
}

a{
    color: gold;
    text-decoration: none;
}